/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;

}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/*--Fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

.price-calc {
	display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    padding: 10px 25px 20px;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 3%;
}

.price-calc-inputs {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 20px;

    
}

.price-calc__storage {
    
}

.price-calc__label {
    display: flex;
    align-items: baseline;
}

label {
    font-size: 20px !important;
}

.slider {
    position: relative;
    min-width: 268px;
    margin-top: 0 !important;
    background-color: #000 !important;
}

.slider::before {
    position: absolute;
	content: '';
    left: 0;
    bottom: -100%;
    width: 5px;
    height: 24px;
    background-color: #000;
}

.slider::after {
    position: absolute;
	content: '';
    right: 0;
    bottom: -100%;
    width: 5px;
    height: 24px;
    background-color: #000;
}

.slider-handle {
    background-color: #000 !important;
    width: 20px !important;
    height: 33px !important;
}

.slider-fill {
    background-color: #000 !important;
}

.sliderOutput {
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    text-align: right;
}

.price-calc__transfer {
    display: flex;
    flex-direction: column;
}

.price-calc-result {
	display: flex;
}

.price-calc-result__providers {
    width: 140px;
    flex: 1 25%;
}

.providers {
    position: relative;
    padding: 10px 0;
}

.providers::after {
    position: absolute;
    content: '';
    right: -15px;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #000;
}

.providers__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.providers__row:not(:last-child) {
    margin-bottom: 10px;
}

.providers__row:nth-child(2) {
   
}

.providers__label {
}

.providers__logo {
    width: 30px;
    height: auto;
}

.price-calc-result__progress {
    flex: 2 75%;
    margin-left: 12px;
    margin-top: 9px;
    z-index: -1;
    padding: 10px 0 ;
}

.progress-meter {

}

.progress:not(:last-child) {
    margin-bottom: 25px;
}